@import "tailwindcss";

:root {
  --bg: #000000;
  --text: #ededed;

  --card: #0d0d0d;

  --line: #252525;

  --text-muted: #a1a1a1;

  --accent: #bf7aef;
  --accent-soft: rgba(191, 122, 239, 0.15);
}

@theme inline {
  --color-bg: var(--bg);
  --color-text: var(--text);

  --color-card: var(--card);

  --color-line: var(--line);

  --color-text-muted: var(--text-muted);

  --color-accent: var(--accent);
  --color-accent-soft: var(--accent-soft);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  * {
    @apply border-line;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-bg text-text antialiased;
    font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  }

  a {
    @apply transition-colors;
  }
}

@layer components {
  .hero-title {
    @apply text-center text-6xl font-bold text-text;
  }

  .hero-description {
    @apply text-center mt-2 font-medium text-text-muted/60;
  }

  .hero-highlight {
    @apply text-text font-medium;
  }

  .article-card {
    @apply border-2 bg-card border-line rounded-[34px] p-6 flex flex-col h-full;
  }

  .article-date {
    @apply text-xs text-text-muted font-bold;
  }

  .article-title {
    @apply mb-2 text-[20px] font-semibold text-text leading-6.5;
  }

  .article-description {
    @apply font-medium text-text-muted line-clamp-2 mb-4 leading-5.5;
  }

  .article-category {
    @apply rounded-md px-2 py-0.5 text-[14px]
    font-semibold text-accent
    bg-accent/15 border-2 border-accent/15;
  }

  .article-link {
    @apply w-10 h-10
    text-text-muted
    border-t-2 border-b border-line
    bg-card
    rounded-full
    p-2
    cursor-pointer;
  }

  .icon-link {
    @apply w-10 h-10
    text-text-muted
    border-t-2 border-b border-[#3e3e3e]
    bg-[#151515]
    rounded-full
    p-2
    cursor-pointer duration-300 transition-colors;
  }
  .icon-link:hover {
    color: var(--primary);
  }

  .badge {
    @apply rounded-md px-2 py-0.5 text-[14px] font-semibold border-2;
  }
}
